<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>londonOffice</key>
	<dict>
		<key>postcodePrefix</key>
		<string>E14</string>
		<key>name</key>
		<string>London Office</string>
		<key>type</key>
		<string>office</string>
	</dict>
	<key>sanfranciscoOffice</key>
	<dict>
		<key>postcodePrefix</key>
		<string>9444</string>
		<key>name</key>
		<string>San Francisco Office</string>
		<key>type</key>
		<string>office</string>
	</dict>
	<key>home</key>
	<dict>
		<key>postcodePrefix</key>
		<string>975</string>
		<key>name</key>
		<string>Home</string>
		<key>type</key>
		<string>home</string>
	</dict>
</dict>
</plist>
